.book-card {
  max-width: 30%;
  margin-top: 50px;
  
}

.book-header-image {
  background-size: cover;
}

.wish-btn {
  padding: 20px;
  width: 40%;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
}
